@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
  --primary-color: #3a4f63;
  --secondary-color: #3498db;
  --text-color: #ffffff;
  --border-radius: 4px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--primary-color);
  color: var(--text-color);
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Adjust the opacity as needed */
  z-index: -1;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 600px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-color);
  border-radius: var(--border-radius);
  margin-top: 1rem;
}

button {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

.settings-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.settings.show {
  transform: translateY(0);
}

select {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius);
}

/* Remove outlines on focus */
select:focus,
button:focus, input:focus {
  outline: 0;
}

.score-container, .time-container {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.end-game-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none; /* Change this line */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

.upcoming-words-container {
  margin-top: 1rem;
  font-size: 1rem;
}

.word-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

#word {
  margin-right: 1rem;
}

.upcoming-words {
  display: flex;
}

.upcoming-words span {
  margin-right: 0.5rem;
  color: #7f8c8d;
  font-size: 1.2rem;
}